/* Global Styles */
body {
    background-color: tomato;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

a {
    color: black;
}

a:hover {
    color:darksalmon
    text-decoration none;

}

#container {
    background-color: wheat;
    width: 75%;
    margin: 20px auto;
}

/* Desktop Styles */

nav {
    background-color: black;
    padding: 5px 0;
    text-align: right;
}

nav ul {
    list-style-type: none;
    padding: 0%;
}

nav li {
    display: inline-block;
}

nav li a {
    color: black;
    margin-left: 20px;
}

nav li a:hover {
    color: white;
}

header h1 {
font-size: 100px;
color: black;
text-shadow: 2px 2px 2px grey
}

main {
padding: 20px;
}

main img {
width: 50%;
}

#lower {
display: flex;
}

.col {
    padding: 10px;
    margin: 10px;
    border: 2px solid grey;
    width: 33.33%;
    border-radius: 10px;
}

footer {
    padding: 40px 0;
    text-align: center;
}

hr {
    width: 95%;
}

.button{
    display: block;
    background-color: lightslategrey;
width: 125px;
height: 40px;
color: white;
text-decoration: none;
text-align: center;
line-height: 35px;
margin-top: 10px;
border-radius: 10px;
margin-left: auto;
margin-right: auto;
}

.button:hover {
    color: white;
}


#xpacs{
display: flex;
}

.xpaccover img{
width: 100%;
}